{% extends 'base.html.twig' %}

    {% block title %}Hello {{ controller_name }}!{% endblock %}

        {% block body %}
        <section class="articles">

            {% for article in articles %}

                <article>
                    <h2>{{article.title}}</h2>
                    <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y')}}</div>
                    <div class="content">
                        <img src={{ article.image }} alt="Photo" style = "display:block; margin: 15px auto" >
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at, aut commodi consectetur cupiditate dicta dignissimos doloremque eligendi eos eveniet illum ipsum minima necessitatibus non officiis perferendis quis quos repellat, repellendus sequi similique sint sunt ullam velit vitae? Dolorem dolores eius facilis non odio quasi temporibus velit. Natus praesentium, unde!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur, dolorum eligendi hic ipsam laboriosam mollitia numquam perspiciatis rerum sit.</p>
                        <a href="{{ path('blog_show',{'id':article.id}) }}" class="btn btn-primary btn-md">Lire la suite</a>


                    </div>


                </article>

            {% endfor %}


        </section>
    {% endblock %}
